#sidebar {
    background: #272c33;
    color: white;
    padding: 0;
    width: 15%;

    .dropdown-menu {
        position: relative !important;
        width: 100%;
        transform: none !important;
        margin:0 !important;
        padding: 0 !important;
        float: none !important;
    }

    .nav-link {
        text-decoration: none;
        color: #d2d2d2;
        font-size: 0.9rem;
        border-bottom: 1px solid rgba(200, 200, 200, 0.1);
        transition: all 0.15s;

        i {
            margin-right: 10px;
        }


        
    }

    .clearfix {
        content: '';
        display: block;
        clear: both;
    }

    .hvr-sweep-to-right{
        &:before {
            background: #444 !important;
        }
    }

}

