.tabnav {
    /*background-color: #444444;*/
    background: rgba(68, 68, 68, .85);
    width: 350px;
    z-index: 2;

    .nav-link {
        border-bottom: 1px solid rgba(200, 200, 200, 0.1);
        color: #d2d2d2;
        font-size: 1rem;
        text-decoration: none;
        transition: all .3s;
        width: 100%;
        
        &:hover {
            border-left: 4px solid #C0392B;
            color: #fff;
            padding-left: 20px;
        }

        &.active {
            border-left: 4px solid #C0392B;
            color: #fff;
            padding-left: 20px;
        }
    }

}